/* line 1, app.sass */
body {
  font-family: 'Dosis', sans-serif;
  color: #333;
  font-weight: 400; }

/* line 5, app.sass */
img {
  max-width: 100%;
  width: 100%; }

/* line 8, app.sass */
.container {
  max-width: 80vw;
  margin: 0 auto; }

/* line 11, app.sass */
.side {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
  font-size: 0.725rem;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: auto 45px 45px;
  align-items: center; }
  /* line 21, app.sass */
  .side .select--pagination, .side .select--itemNos {
    display: flex;
    justify-content: flex-end; }
  /* line 24, app.sass */
  .side select {
    border: none;
    outline: none; }

/* line 28, app.sass */
.filters select {
  border: none;
  outline: none;
  font-weight: 500; }

/* line 32, app.sass */
.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "item1 item2 item3 item4 banner1" "banner2 item5 item6 item7 item8" "bannerfull bannerfull bannerfull bannerfull bannerfull" "item9 item10 item11 item12 banner3" "banner4 item13 item14 item15 item16";
  grid-gap: 1rem; }
  @media (max-width: 1200px) {
    /* line 32, app.sass */
    .product-list {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "item1 item2 item3 banner1" "banner2 item4 item5 item6" "bannerfull bannerfull bannerfull bannerfull" "item7 item8 item9 banner3" "item10 item11 item12 item13" "banner4 item14 item15 item16"; } }
  @media (max-width: 900px) {
    /* line 32, app.sass */
    .product-list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "item1 banner1" "item2 item3" "banner2 item4" "item5 item6" "bannerfull bannerfull" "item7 item8" "item9 banner3" "item10 item11" "banner4 item12" "item13 item14" "item15 item16"; } }
  /* line 43, app.sass */
  .product-list a {
    text-decoration: none;
    color: #333;
    font-size: 0.725rem; }
    /* line 47, app.sass */
    .product-list a h3 {
      font-weight: 500;
      margin: 0;
      margin-top: 0.2rem; }
    /* line 51, app.sass */
    .product-list a .price {
      font-weight: 700;
      margin: 0.2rem 0; }
    /* line 54, app.sass */
    .product-list a .info {
      font-style: italic; }
      /* line 56, app.sass */
      .product-list a .info div {
        margin-bottom: 0.2rem; }
  /* line 58, app.sass */
  .product-list .product {
    grid-column: span 1; }
  /* line 60, app.sass */
  .product-list .product:nth-child(1) {
    grid-area: item1; }
  /* line 62, app.sass */
  .product-list .product:nth-child(2) {
    grid-area: item2; }
  /* line 64, app.sass */
  .product-list .product:nth-child(3) {
    grid-area: item3; }
  /* line 66, app.sass */
  .product-list .product:nth-child(4) {
    grid-area: item4; }
  /* line 68, app.sass */
  .product-list .product:nth-child(5) {
    grid-area: item5; }
  /* line 70, app.sass */
  .product-list .product:nth-child(6) {
    grid-area: item6; }
  /* line 72, app.sass */
  .product-list .product:nth-child(7) {
    grid-area: item7; }
  /* line 74, app.sass */
  .product-list .product:nth-child(8) {
    grid-area: item8; }
  /* line 76, app.sass */
  .product-list .product:nth-child(9) {
    grid-area: item9; }
  /* line 78, app.sass */
  .product-list .product:nth-child(10) {
    grid-area: item10; }
  /* line 80, app.sass */
  .product-list .product:nth-child(11) {
    grid-area: item11; }
  /* line 82, app.sass */
  .product-list .product:nth-child(12) {
    grid-area: item12; }
  /* line 84, app.sass */
  .product-list .product:nth-child(13) {
    grid-area: item13; }
  /* line 86, app.sass */
  .product-list .product:nth-child(14) {
    grid-area: item14; }
  /* line 88, app.sass */
  .product-list .product:nth-child(15) {
    grid-area: item15; }
  /* line 90, app.sass */
  .product-list .product:nth-child(16) {
    grid-area: item16; }
  /* line 93, app.sass */
  .product-list .banner:nth-child(17) {
    grid-area: banner1; }
  /* line 95, app.sass */
  .product-list .banner:nth-child(18) {
    grid-area: banner2; }
  /* line 97, app.sass */
  .product-list .banner:nth-child(19) {
    grid-area: banner3; }
  /* line 99, app.sass */
  .product-list .banner:nth-child(20) {
    grid-area: banner4; }
  /* line 102, app.sass */
  .product-list .banner-full:nth-child(21) {
    grid-area: bannerfull; }
